<head><!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script></head>
  <h1 class="white  grey-text text-darken-2">
  <header class="container">
    {{ title }}
    <img src="https://everis.hiringroom.com/data/accounts/everis/profile.jpg">
  </header>
  </h1>   
  <router-outlet></router-outlet>


