
h3{
    text-align: center;
}
.visible{
    display: block;
}
.hidden{
    visibility: hidden;
}
.middle{
    margin-left: auto;
    margin-right: auto;
}
.textRight{
    text-align: right;
}
.textLeft{
    text-align: left;
}
h2{
    text-align: center;
    color: #676767;
}